.filter-sidebar {
  width: 500px;
  padding: 20px;
  border-right: 10px solid #ddd;
}

.filter-sidebar h3 {
  margin-bottom: 10px;
}

.filter-sidebar label {
  display: block;
  margin-bottom: 10px;
}
