.job-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
  position : relative;
}
.job-card .divider {
  height : 1px;
  background-color: #ccc;
}
.pin-icon {
  position: absolute;
  right : 20px;
  top : 20px;
}
.job-card .posted-on {
  font-size: 12px;
  color : #333;
  margin : 4px 0;
}
.job-image img {
  max-width: 100px;
  margin : 0 auto;
  display: block;
  margin: 30px auto;
}

.job-details h4 {
  font-size:16px;
  margin : 0;
  font-weight: 400;
  margin : 5px;
  color : #333;
}
.job-details p {
  font-size: 14px;
  margin: 5px;
  color : #333;
}
.job-details .job-location{
  font-size: 12px;
  color : #666;
}

.job-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  height : 15px;
}

.action-btn {
  padding: 5px 10px;
  border: none;
  background-color: #f06292;
  color: white;
  cursor: pointer;
}
